In [ ]:
# Scikit-Learn

In [1]:
import numpy as np
import pandas as pd

In [5]:
pokemon=pd.read_excel(r"C:\Users\Ajay\Desktop\pokemon_data.xlsx",sep='\t') # seprated by tab 
pokemon.head(4)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False

In [8]:
# we havnt learnt how to convert text data  so first basically focus on Numeric data
pokemon.isnull()  # it return bool ,once is their null value in our dataframe

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,True,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,False,False,False,False,False,False,False,False,False,False,False,False
796,False,False,False,False,False,False,False,False,False,False,False,False
797,False,False,False,False,False,False,False,False,False,False,False,False
798,False,False,False,False,False,False,False,False,False,False,False,False
799,False,False,False,False,False,False,False,False,False,False,False,False

In [9]:
pokemon.isnull().sum()   # its look like Type 2 column has null value in it

#               0
Name            0
Type 1          0
Type 2        386
HP              0
Attack          0
Defense         0
Sp. Atk         0
Sp. Def         0
Speed           0
Generation      0
Legendary       0
dtype: int64

In [12]:
new=pokemon["Type 2"]

In [13]:
new.nunique()

18

In [15]:
new.isnull()

0      False
1      False
2      False
3      False
4       True
       ...
795    False
796    False
797    False
798    False
799    False
Name: Type 2, Length: 800, dtype: bool